<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.prj.teamprj.dao.ITeamPrjDao">
	<select id="getList" resultType="com.prj.teamprj.dto.MyPageDto">
	    SELECT m.mno, b.bno, b.title, b.content, m.name, b.uno
	    FROM team_member m
	    RIGHT JOIN team_board b
	    ON m.mno = b.mno
	</select>

	<select id="getDto">
		SELECT m.mno, b.bno, b.title, b.content, m.name, b.uno
	    FROM team_member m
	    RIGHT JOIN team_board b
	    ON m.mno = b.mno
	    WHERE bno = #{bno}
	</select>	
	
	<select id="getMyMnoPage">
		SELECT m.mno, b.bno, b.title, b.content, m.name, b.uno
	    FROM team_member m
	    RIGHT JOIN team_board b
	    ON m.mno = b.mno
	    WHERE mno = #{mno}
	</select>
	
	<select id="getMyUnoPage">
		SELECT m.mno, b.bno, b.title, b.content, m.name, b.uno
	    FROM team_member m
	    RIGHT JOIN team_board b
	    ON m.mno = b.mno
	    WHERE uno = #{mno}
	</select>
	
	<insert id="write">
		INSERT INTO team_board (title, content, mno) VALUES
		(#{dto.title}, #{dto.content}, #{dto.mno})
	</insert>
	
	<insert id="detailWrite">
		INSERT INTO team_board (title, content, mno, uno) VALUES
		(#{dto.title}, #{dto.content}, #{dto.mno}, #{dto.uno})
	</insert>
	
	<delete id="delete">
		DELETE FROM team_board WHERE bno = #{bno}
	</delete>
  </mapper>