<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.prj.teamprj.dao.ITPrjMemberDao">
	
	<insert id="signUp">
		INSERT INTO team_member (id, pw, name) VALUES
		(#{dto.id}, #{dto.pw}, #{dto.name})
	</insert>
	
	<select id="select">
		SELECT * FROM team_member WHERE id = #{id} AND pw = #{pw}
	</select>
  </mapper>
  
  