<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header class="header">
		<h2>게시판</h2>
	</header>
	<nav><a th:href="@{/}">홈으로 가기</a>
	</nav>
	
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="post : ${list}">
				<th:block th:if="${post.uno == 0}">
					<td th:text="${post.bno}"></td>
					<td><a th:href="@{/boardDetail(bno=${post.bno})}">[[${post.title}]]</a></td>
					<td th:text="${post.name}"></td>
				</th:block>
			</tr>
		</tbody>
	</table>
</body>
</html>